body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(255, 234, 211);
}

#title {
    text-align: center;
    font-family: "Afacad Flux";
    font-size: 60px;
}

#titlebar {
    background-color: rgb(255, 244, 233);
    padding: 1em;
}

.itembox {
    margin: auto;
    margin-top: 50px;
    width: 950px;
    height: 200px;
    border: 5px outset;
    border-color: rgb(236, 217, 197);
    border-radius: 50px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.boximg {
    float: left;
    height: 100%;
    width: auto;
    object-fit: cover;
}

.boxcontent {
    height: 100%;
    width: 77%;
    border-radius: inherit;
    float: right;
    position: relative;
}

.boxtitle {
    font-family: "Afacad Flux";
    font-size: 60px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.itembox:hover {
    transform: scale(1.1);
}