body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(255, 234, 211);
    height: 100vh;
    /* display: flex;                Center the circle in the viewport */
    /* justify-content: center;      Center horizontally */
    /* align-items: center; */
}

#title {
    text-align: center;
    font-family: "Afacad Flux";
    font-size: 60px;
}

#titlebar {
    background-color: rgb(255, 244, 233);
    padding: 1em;
}

.itembox {
    margin: auto;
    margin-top: 50px;
    width: 950px;
    height: 200px;
    border: 5px outset;
    border-color: rgb(236, 217, 197);
    border-radius: 50px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.itembox:hover {
    transform: scale(1.1);
}

.boximg {
    float: left;
    height: 100%;
    width: auto;
    object-fit: cover;
}

.boxcontent {
    height: 100%;
    width: 77%;
    border-radius: inherit;
    float: right;
    position: relative;
}

.boxtitle {
    font-family: "Afacad Flux";
    font-size: 60px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.percentage-circle {
    width: 170px;
    height: 170px;
    background: conic-gradient(
        rgb(87, 255, 87) calc(var(--percentage) * 1%),
        rgb(238, 238, 238) calc(var(--percentage) * 1%) 100%
    );
    border-radius: 100px;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    transition: transform 0.3s ease;
    position: relative;
}

.percentage-circle::before {
    content: '14/300';
    font-family: "Afacad Flux";
    line-height: 130px;
    position: absolute;
    width: 130px;
    height: 130px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.percentage-circle:hover {
    transform: scale(1.1);
}

.persistent-animation {
    animation: gradientAnimation 1s linear forwards;
}

@keyframes gradientAnimation {
    0% {
        background: conic-gradient(
        rgb(87, 255, 87) calc(var(--percentage) * 1%),
        rgb(238, 238, 238) calc(var(--percentage) * 1%) 100%
        );
    }
    25% {
        background: conic-gradient(
        rgb(50, 172, 50) 0% calc(((var(--percentage)*2)/6) * 1%),
        rgb(87, 255, 87) calc(var(--percentage) * 1%),
        rgb(238, 238, 238) calc(var(--percentage) * 1%) 100%
        );
    }
    50% {
        background: conic-gradient(
        rgb(50, 172, 50) 0% calc(((var(--percentage)*3)/6) * 1%),
        rgb(87, 255, 87) calc(var(--percentage) * 1%),
        rgb(238, 238, 238) calc(var(--percentage) * 1%) 100%
        );
    }
    75% {
        background: conic-gradient(
        rgb(50, 172, 50) 0% calc(((var(--percentage)*4)/6) * 1%),
        rgb(87, 255, 87) calc(var(--percentage) * 1%),
        rgb(238, 238, 238) calc(var(--percentage) * 1%) 100%
        );
    }
    100% {
        background: conic-gradient(
        rgb(50, 172, 50) 0% calc((var(--percentage)) * 1%),
        rgb(87, 255, 87) calc(var(--percentage) * 1%),
        rgb(238, 238, 238) calc(var(--percentage) * 1%) 100%
        );
    }
}

