* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 234, 211);
}

#title {
    text-align: center;
    font-family: "Afacad Flux";
    font-size: 60px;
}

#titlebar {
    background-color: rgb(255, 244, 233);
    padding: 1em;
}